@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Play:wght@400;700&display=swap");

$primary-100: #7b91c5;
$primary-200: #8a9dcb;
$primary-300: #99a8d2;
$primary-400: #a7b4d8;
$primary-500: #b6c0df;
$primary-600: #c4cde5;
/** SCSS DARK THEME SURFACE COLORS */
$surface-100: #121212;
$surface-200: #282828;
$surface-300: #3f3f3f;
$surface-400: #575757;
$surface-500: #717171;
$surface-600: #8b8b8b;
/** SCSS DARK THEME MIXED SURFACE COLORS */
$surface-mixed-100: #1c1d21;
$surface-mixed-200: #313236;
$surface-mixed-300: #47484c;
$surface-mixed-400: #5f5f63;
$surface-mixed-500: #77787b;
$surface-mixed-600: #919194;

body {
  margin: 0;
}
#AppContainer {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  height: 100vh;
  width: 100vw;
}

#HeaderContainer {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "map charts cost";
  background: $surface-mixed-300;
  padding-left: 40px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-width: 10px;
  border-image: linear-gradient(45deg, $surface-mixed-300, $surface-mixed-100) 1; /*what is this?? dive in to gradient direction*/

  #map {
    grid-area: map;
    background: $primary-300;
    border-radius: 10px;
  }
  #charts {
    grid-area: charts;
    background: $primary-300;
    border-radius: 10px;
  }
  #cost {
    grid-area: cost;
    background: $primary-300;
    border-radius: 10px;
  }
}

#SideBarContainer {
  grid-area: sidebar;
  background: $surface-mixed-300;
  #logocontainer {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    padding-bottom: 25px;
    box-shadow: 2px 2px 3px white;
    background-color: $primary-300;
    #asclepiusLogo {
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border: none;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
  #asclepiusText {
    font-family: "Comfortaa", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 20px;
    margin-right: 13px;
    padding-right: 10px;
  }
}

#NodeMapContainer {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $surface-mixed-100;
  border-style: solid;
  border-width: 10px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-image: linear-gradient(0deg, $surface-mixed-300, $surface-mixed-100) 1;
  #NodeMapHeaderDiv {
    justify-self: flex-start;
    max-height: 200px;
    width: 80.4%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Play", sans-serif;
    font-size: 30px;
    font-weight: 550;
    color: #fff;
    background: $surface-mixed-300;
  }
  #innerNodeMapContainer {
    flex: 0.9;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    justify-self: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dddddd;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    #NodeMap {
      border: 0px;
      height: 90%;
      width: 90%;
      align-content: center;
      display: flex;
      justify-content: center;
      .node {
        stroke: $primary-100;
        stroke-width: 2px;
      }
      .link {
        stroke: $primary-300;
        stroke-width: 2px;
      }
    }
  }
}
#underline {
  text-decoration: underline;
  margin-bottom: 5px;
}

.newButton,
.renderButton {
  display: flex;
  justify-content: center;
  appearance: none;
  background-color: $primary-300;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 2px 2px 1px white;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.newButton:hover,
.renderButton:hover {
  color: #fff;
  background-color: $surface-mixed-300;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.renderButton {
  margin: 20px;
}

#buttonSpan {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

label {
  color: $primary-100;
}

input[type="text"],
input[type="password"] {
  border: 2px solid black;
  color: $primary-100;
  display: block;
  justify-content: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
}

button[type="submit"] {
  border: 2px solid $primary-100;
  color: $primary-100;
  display: block;
  justify-content: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  #button[type="submit"]:hover {
    color: #fff;
    background-color: $primary-100;
  }
}

#localButton {
  margin-left: 70px;
}

/*#Sidebarsection {
    color: white;
    background-color: #6082b6;
    padding: 2px;
    border: 1px #000000;
    font-family: "Play", sans-serif;
    #sidebarName {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin-top: 5px;
      background-color: #6082b6;
      border: 3px solid black;
      border-radius: 10px;
    }
    .metrics {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      table {
        width: 100%;
        table-layout: fixed;
      }
      th {
        width: 50%;
        text-align: left;
      }
    }
  }*/
