.SideBarContainer {
    width: 20vw;
    background-color: #333; /* Optional: Add a background color for visibility */
    color: #e9acac; /* Optional: Set text color for visibility */
    border: 1px solid black;
  }