@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Play:wght@400;700&display=swap");

$primary-100: #7b91c5;
$primary-200: #8a9dcb;
$primary-300: #99a8d2;
$primary-400: #a7b4d8;
$primary-500: #b6c0df;
$primary-600: #c4cde5;
/** SCSS DARK THEME SURFACE COLORS */
$surface-100: #121212;
$surface-200: #282828;
$surface-300: #3f3f3f;
$surface-400: #575757;
$surface-500: #717171;
$surface-600: #8b8b8b;
/** SCSS DARK THEME MIXED SURFACE COLORS */
$surface-mixed-100: #1c1d21;
$surface-mixed-200: #313236;
$surface-mixed-300: #47484c;
$surface-mixed-400: #5f5f63;
$surface-mixed-500: #77787b;
$surface-mixed-600: #919194;

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  background-color: $surface-mixed-400;
}
#AppContainer {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  height: 100vh;
  width: 100vw;
}

#HeaderContainer {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "map charts cost";
  background: $surface-mixed-400;
  padding-left: 40px;

  #map {
    grid-area: map;
    background: $primary-100;
    border-radius: 10px;
  }
  #charts {
    grid-area: charts;
    background: $primary-100;
    border-radius: 10px;
  }
  #cost {
    grid-area: cost;
    background: $primary-100;
    border-radius: 10px;
  }
}

#SideBarContainer {
  display: grid;
  grid-area: sidebar;
  background: $surface-mixed-400;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "sidebar"
    "sidebar"
    "sidebar"
    "sidebar"
    "sidebar"
    "sidebar"
    "sidebar";
  #logocontainer {
    grid-area: logo;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    #asclepiusLogo {
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 20px;
      padding: 5px;
    }
    #asclepiusText {
      font-family: "Comfortaa", sans-serif;
      padding-top: 10px;
      padding-left: 10px;
      font-size: 2.2rem;
      font-weight: 700;
      color: white;
    }
  }
  #sideBar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    #hidden {
      visibility: hidden;
      height: 20%;
    }
    hr {
      width: 80%;
      border: 1px solid white;
    }
    #cluster {
      color: white;
      font-size: larger;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    #small {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      background: $primary-100;
      margin: 15px;
      padding: 5px;
      border-radius: 30px;
      border: 2px solid $surface-mixed-500;
      box-shadow: white 0px 2px;
    }
    #cpu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      background: $primary-100;
      margin: 15px;
      padding: 5px;
      border: 2px solid $surface-mixed-500;
      border-radius: 30px;
      box-shadow: white 0px 2px;
    }
    #mem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      padding-left: 25px;
      background: $primary-100;
      margin: 15px;
      border: 2px solid $surface-mixed-500;
      border-radius: 30px;
      box-shadow: white 0px 2px;
    }
    #big {
      background: $primary-100;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 25px;
      padding: 5px;
      border: 2px solid $surface-mixed-500;
      border-radius: 30px;
      box-shadow: white 0px 2px;
    }
  }
}

#NodeMapContainer {
  color: white;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $surface-mixed-300;
  border-top: 10px solid $surface-mixed-300;
  border-radius: 20px 0 0 0;
  #NodeMapHeaderDiv {
    justify-self: flex-start;
    max-height: 200px;
    width: 80.4%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Play", sans-serif;
    font-size: 30px;
    font-weight: 550;
    color: #fff;
    background: $surface-mixed-300;
  }
  #innerNodeMapContainer {
    flex: 0.9;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    justify-self: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dddddd;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    #NodeMap {
      border: 0px;
      height: 90%;
      width: 90%;
      align-content: center;
      display: flex;
      justify-content: center;
      .node {
        stroke: $primary-100;
        stroke-width: 2px;
      }
      .link {
        stroke: $primary-300;
        stroke-width: 2px;
      }
    }
  }
}
#underline {
  text-decoration: underline;
  margin-bottom: 5px;
}

.newButton,
.renderButton {
  display: flex;
  justify-content: center;
  appearance: none;
  background-color: $primary-300;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: white 0 2px 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.newButton:hover,
.renderButton:hover {
  color: #fff;
  background-color: $surface-mixed-300;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.renderButton {
  margin: 20px;
}

form {
  border: 5px solid $primary-100;
  border-radius: 10px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: $surface-mixed-300;
  img {
    background-color: $primary-100;
    border: 2px solid black;
    border-radius: 50%;
  }
}

input[type="text"],
input[type="password"] {
  border: 2px solid black;
  color: $primary-100;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
}

#localButton {
  margin-left: 70px;
}

#buttonSpan {
  display: flex;
  flex-direction: row;
  button {
    margin: 5px;
  }
}
