

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 95%;
  margin: 0;
  padding: 0;
} */



#AppContainer {
  display: flex;
  height: 98vh;
  width: 98vw;
}

#SideBarContainer {
  flex: .2;
  height: 100%; 
  color: #020000; 
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

#NodeMapContainer {
  flex: .9;
  height: 100%; 
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
}

#NodeMap {
  flex: 10;
  height: 99%;
  border: 2px solid black;
  border-radius: 10px;
}

#ClusterConnect {
  width: 100px;
  height: 100px;
  background-color: rgba(154, 205, 50, 0.7);
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
}

#asclepius {
font-weight: bold; 
font-size: 24px;
}

.node {
  /* fill: #3498db; */
  stroke: #2980b9;
  stroke-width: 2px;
}
.link {
  stroke: #7f8c8d;
  stroke-width: 2px;
}