@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Play:wght@400;700&display=swap");
body {
  margin: 0;
}
#AppContainer {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
  height: 100vh;
  width: 100vw;
}

#HeaderContainer {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "map charts cost";
  background: #6082b6;
  #map {
    grid-area: map;
    background: inherit;
    border-radius: 10px;
  }
  #charts {
    grid-area: charts;
    background: inherit;
    border-radius: 10px;
  }
  #cost {
    grid-area: cost;
    background: inherit;
    border-radius: 10px;
  }
}

#SideBarContainer {
  grid-area: sidebar;
  background: #6082b6;
  border-style: solid;
  border-width: 10px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 10px;
  border-image: linear-gradient(90deg, rgb(123, 145, 197), #6082b6) 1; /*what is this?? dive in to gradient direction*/
  #logocontainer {
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    padding-bottom: 25px;
    box-shadow: 2px 2px 4px white;
    #asclepiusLogo {
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border: none;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
  #asclepiusText {
    font-family: "Comfortaa", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 20px;
    margin-right: 13px;
  }
}

#NodeMapContainer {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(123, 145, 197);
  #NodeMapHeaderDiv {
    justify-self: flex-start;
    max-height: 200px;
    width: 80.4%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Play", sans-serif;
    font-size: 30px;
    font-weight: 550;
    color: #fff;
    background: #6082b6;
  }
  #innerNodeMapContainer {
    flex: 0.9;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 10px;
    justify-self: flex-end;
    /* background-image: url('https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2NjcxMC1pbWFnZS1rd3Z4eGVxcC5qcGc.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dddddd;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    #NodeMap {
      border: 0px;
      height: 90%;
      width: 90%;
      align-content: center;
      display: flex;
      justify-content: center;
      .node {
        stroke: #2980b9;
        stroke-width: 2px;
      }
      .link {
        stroke: #7f8c8d;
        stroke-width: 2px;
      }
    }
  }
}
#underline {
  text-decoration: underline;
  margin-bottom: 5px;
}

#ClusterConnect {
  height: 100px;
  background-color: rgba(154, 205, 50, 0.7);
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  align-items: center;
}

#asclepius {
  font-weight: bold;
  font-size: 24px;
  color: rgb(68, 134, 68);
  text-align: center;
  margin-bottom: 10px;
}

#button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.newButton {
  display: flex;
  justify-content: center;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 75%;
  will-change: transform;
  .newButton:disabled {
    pointer-events: none;
  }
  .newButton:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  .newButton:active {
    box-shadow: none;
    transform: translateY(0);
  }
}

.renderButton {
  border: 2px solid white;
  color: white;
  margin: 30px;
}

#renderButton {
  border: 2px solid white;
  color: white;
  display: block;
  justify-content: auto;
  margin-top: 20px;
  margin-left: 70px;
  #renderButton:hover {
    color: #fff;
    background-color: #6082b6;
  }
}

#buttonSpan {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

label {
  color: #6082b6;
}

input[type="text"],
input[type="password"] {
  border: 2px solid black;
  color: #6082b6;
  display: block;
  justify-content: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
}

button[type="submit"] {
  border: 2px solid #6082b6;
  color: #6082b6;
  display: block;
  justify-content: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  #button[type="submit"]:hover {
    color: #fff;
    background-color: #6082b6;
  }
}

#localButton {
  margin-left: 70px;
}

/*#Sidebarsection {
    color: white;
    background-color: #6082b6;
    padding: 2px;
    border: 1px #000000;
    font-family: "Play", sans-serif;
    #sidebarName {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin-top: 5px;
      background-color: #6082b6;
      border: 3px solid black;
      border-radius: 10px;
    }
    .metrics {
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid black;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      table {
        width: 100%;
        table-layout: fixed;
      }
      th {
        width: 50%;
        text-align: left;
      }
    }
  }*/
